{% extends 'baselayout.html.twig' %}

{% block title %}Paste{% endblock %}

{% block main %}
    <h1>Paste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paste.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ paste.content }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ paste.created ? paste.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Content_type</th>
                <td>{{ paste.contentType }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('paste_edit', {'id': paste.id}) }}"><button class="btn btn-lg btn-warning">Edit</button></a>
    {{ include('paste/_delete_form.html.twig') }}
    {%  endif %}
    
     <a href="{{ path('paste_index') }}"><button class="btn btn-lg btn-primary">Back to list</button></a>
{% endblock %}
